.profile {
  .head {
    width: 100%;
    height: 280px;
    margin-top: 50px;
    background-image: url(/assets/profile/profile_head_bg.jpg);
    background-size: cover;
    margin-bottom: 60px;
    display: flex;
  }

  .head_image
  {
    margin: 150px 20px 0px 50px;
    width: 12%;
  }

  .head_text {
    padding-top: 172px;
    color: white;
    width: 15%;
  }

  .head-follow-btn {
    margin-top: 210px;
    margin-right: 50px;
    width: 20%;
  }
}

.profile_edit {
  margin-top: 80px;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}
