.intro-header {
  background-attachment: scroll;
  background-size: cover;
  margin-bottom: 50px;
  background-image: url(/assets/home/home-bg.jpg);
}

.intro-header .site-heading,
.intro-header
.intro-header .page-heading {
  padding: 100px 0 50px;
  color: white;
}
@media only screen and (min-width: 768px) {
  .intro-header .site-heading,
  .intro-header
  .intro-header .page-heading {
    padding: 150px 0;
  }
}
.intro-header .site-heading,
.intro-header .page-heading {
  text-align: center;
}
.intro-header .site-heading h1,
.intro-header .page-heading h1 {
  margin-top: 0;
  font-size: 50px;
}
.intro-header .site-heading .subheading,
.intro-header .page-heading .subheading {
  font-size: 24px;
  line-height: 1.1;
  display: block;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin: 10px 0 0;
}
@media only screen and (min-width: 768px) {
  .intro-header .site-heading h1,
  .intro-header .page-heading h1 {
    font-size: 80px;
  }
}

.intro-header h1 {
  font-size: 35px;
}
.intro-header .subheading,
.intro-header .meta {
  line-height: 1.1;
  display: block;
}
.intro-header .subheading {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 24px;
  margin: 10px 0 30px;
  font-weight: 600;
}
.intro-header .meta {
  font-family: 'Lora', 'Times New Roman', serif;
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
}
.intro-header .meta a {
  color: white;
}
@media only screen and (min-width: 768px) {
  .intro-header h1 {
    font-size: 55px;
  }
  .intro-header .subheading {
    font-size: 30px;
  }
}
.head_container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .head_container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .head_container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .head_container {
    width: 1170px;
  }
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}

.favorite_user {
  display: flex;
  width: 360px;
  height: 80px;
  align-items: center;
  border-bottom: 1px solid #eeeeee;
  padding-top: 10px;
  padding-bottom: 10px;
}

.favorite_user .avatar {
  width: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.favorite_user .avatar img {
  width: 50px
}

.favorite_user .user_info {
  margin-right: 15px;
  width: 200px;
  margin-left: 15px;
}

.favorite_user .follow_btn {
  border-bottom-width: 15px;
  padding-bottom: 24px;
  padding-top: 24px;
  margin-right: 15px;
  width: 83px;
}
